@model demo_csdlnc.Models.TieuChiSinhVien

@{
    ViewData["Title"] = "Chi tiết đánh giá tiêu chí";
}

<h2>Chi tiết đánh giá tiêu chí</h2>

<div>
    <h4>@Model.TieuChi.TenTieuChi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tên sinh viên</dt>
        <dd class="col-sm-10">@Model.SinhVien.HoTen</dd>
        <dt class="col-sm-2">Tiêu chí</dt>
        <dd class="col-sm-10">@Model.TieuChi.TenTieuChi</dd>

        <dt class="col-sm-2">Nhận xét</dt>
        <dd class="col-sm-10">@Model.NhanXet</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaDanhGia" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>