@model demo_csdlnc.Models.DangKy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DangKy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiXetDuyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiXetDuyet.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDangKy">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
